<form class="new-car-form">
  <div>
    <label for="make">Make</label>
    <input type="text" name="make" id="make" required>

    <label for="make">Model</label>
    <input type="text" name="model" id="model" required>

    <label for="yearPicker">Year</label>
    <input type="text" name="yearPicker" id="yearPicker" required>

    <label for="color">Color</label>
    <input type="text" name="color" id="color" required>

    <label for="rate">Rate</label>
    <input type="text" name="rate" id="rate" required>
    
    <label for='photo'> Photo </label>
    <input 
      type="file"
      name="photo"
      id="photo" 
      accept="image/png, image/jpeg" 
      required>
    </input>
    <button type="submit" class="create-car">Create</button>
  </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/carCreation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
