<form class="login-form">
  <div class="container">
    <h1>Find cars to rent on CarBnB</h1>
    <h4>Login to get started.</h4>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" class="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="password" id="password" required>

    <button type="submit" class='loginUser'>Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember Login
    </label>
  </div>
</form>

<script src="/javascript/login.js"></script>