<form class="signup-form">
  <div class="container">
    <h1>Find cars to rent on CarBnB</h1>
    <h4>Create your account to get started.</h4>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" class="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="password" id="password" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" class="email" id="email" required>

    <button type="submit" class='createUser'>Create An Account</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>